@model FrontEnd.Models.Bug

@{
    ViewData["Title"] = "Create";
}

h2>Add new Bug</h2>

<h4>Bug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBY" class="control-label"></label>
                <input asp-for="CreatedBY" class="form-control" />
                <span asp-validation-for="CreatedBY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <!--<input asp-for="Status" class="form-control" />-->
                <select class="form-control" id="StudentGender" name="StudentGender">
                    <option>Select Status</option>
                    <option>Active</option>
                    <option>Resolved</option>
                    <option>Closed</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <!--<input asp-for="Severity" class="form-control" />-->
                <select class="form-control" id="StudentGender" name="StudentGender">
                    <option>Select Severity</option>
                    <option>Medium</option>
                    <option>Critical</option>
                    <option>low</option>
                </select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedBY" class="control-label"></label>
                <input asp-for="AssignedBY" class="form-control" />
                <span asp-validation-for="AssignedBY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}